body {
  width: 1000px;
  background-color: gray;
  margin: 0 auto;
  padding: 0px;
  font-size: 14px;
/*  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,"hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif; */
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;*/
/*  font-family: "ms pgothic";*/
/*  font-family:"Verdana","Helvetica","Arial",sans-serif;*/
}

div#header_blank {
    width: 200px;
    height: 120px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}

div#header_main {
    width: 800px;
    height: 120px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}

#header_main table {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#header_main tr {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#header_main td {
    width: 800px;
    height: 120px;
    vertical-align: bottom;
    text-align: left;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-size: 18px;
}

div#menu_blank {
    width: 200px;
    height: 20px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}

div#menu_box {
    width: 180px;
    height: 20px;
    background-color: blue;
    margin: 0px;
    padding: 0px;
}


div#menu_main {
    width: 800px;
    height: 20px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}


#menu_main ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#menu_main li.active{
    margin: 0px;
    display: inline;
    padding: 3px 0px 0px 0px;
    text-align: left;
    width: 100px;
    height: 20px;
    float: left;
    background-color: white;
}

#menu_main li{
margin: 0px;
display: inline;
padding: 3px 0px 0px 0px;
text-align: left;
width: 100px;
height: 20px;
float: left;
background-color: blue;
}

#menu_main a{
    color: white;
    text-decoration:none;
}

#menu_main a.active{
    color: blue;
    text-decoration:none;
}


div#body {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
//    min-height: 768px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}

#body img.small {
    width: 240px;
    height: 180px;
}

#body img.big {
    width: 1024px;
    height: 768px;
}

div#assembling {
  position: absolute;
  top: 170px;
  left: 80px;
  width: 800px;
  height: 220px;
  font-size: 200px;
  text-align: center;
  background: orange;
  font-weight: bold;
  opacity: 0.7;
}

div#bigfig {
  position: absolute;
  top: 0px;
  left: 0px;
//  width: 800px;
//  height: 220px;
//  font-size: 200px;
//  text-align: center;
//  background: orange;
//  font-weight: bold;
//  opacity: 0.7;
}


div#body_blank {
    width: 200px;
    height: 10px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}

div#body_main {
    width: 800px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    float: left;
}

#body_main h1
{
  font-size: 20px;
}

#body_main h2
{
  font-size: 14px;
}

#body_main div.halfbox {
    width: 380px;
    margin: 0px;
    padding: 20px 20px 0px 0px;
    float: left;
    text-align: justify;
    text-justify: inter-ideograph;
}

#body_main div.box {
    width: 700px;
    margin: 0px;
    padding: 20px 20px 0px 0px;
    float: left;
    text-align: justify;
    text-justify: inter-ideograph;
}

#body_main div.edit_bar {
  padding: 0px 20px 0px 0px;
  margin: 0px 0px 0px 0px;
  width: 780;
  font-size: 10px;
  text-align: right;
}

#body_main a.edit:visited,a.edit:link{
  text-decoration: none;
  color: #000000;
}

#body_main p.article {
    padding: 0px 100px 10px 0px;
    margin: 0px;
    text-align: justify;
    text-justify: inter-ideograph;
}


a:visited,a:link{
  text-decoration: none;
  color: #0000ff;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
  background-color: #ef1c21;
}

p {
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

#body_main ul{
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

#body_main span.important{
/*    background-color: blue;*/
    color: blue;
    font-weight: bold;
}

#body_main table{
    margin: 20px 20px 0px 0px;
    padding: 0px;
    border: 0px;
}

#body_main th{
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 20px 0px 0px;
    margin: 0px;
    border: 0px;
}

#body_main td{
    font-size: 14px;
    padding: 0px 20px 0px 0px;
    margin: 0px;
    border: 0px;
}

#body_main div.lang_link{
    float: right;
    margin: 20px 20px 0px 0px;
    padding: 0px;
}

#body_main img.profile{
    float: left;
    margin: 20px 20px 20px 0px;
    padding: 0px;
}

#body_main img.poster{
    border: solid 1px blue;
}

/* footer */

div#footer {
    width: 1000px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}

div#footer_blank {
    width: 200px;
    height: 10px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}


div#footer_main {
    width: 800px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: left;
}
